/*Padronizando as margens da página do site*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*DIV Editor do cabeçalho*/
.cab{
    height: 5rem;  
    display: flex;   
}
/*Logo da empresa no cabeçalho*/
#cablogo{ 
    width: auto;
    position: relative;
    left: 10rem;
    bottom: 0.5rem;  
}
/*Editor da tag nav*/
.cab nav{   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Editor da tag ul*/
.cab ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37px;
}
/*Editor da tag li*/
.cab li{
    list-style-type: none;    
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
}
.cab a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.425) ;
}
.cab a:hover{
    color: black;
}

/*----------------------------------------------------------------------------------------------------*/

.containerproje{
    position: relative;
}
.containerproje .slide-container .slide{
    min-height: 76.7vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}
.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}
@keyframes slideContent{0%{
    opacity: 0;
    transform: translateX(-50px);
}

}
.containerproje .slide-container .slide .contentproje h3{
    font-size: 50px;
    color: rgb(175, 175, 175);
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 1px 2px black;
}
.containerproje .slide-container .slide .contentproje p{
    font-size: 16px;
    color: #ffffff;
    height: 10%;
    width: 40%;
    font-family: 'Poppins', sans-serif;
}
.containerproje .slide-container .slide .contentproje .btnproj{
    margin-top: 10px;
    display: inline-block;
    background-color: gray;
    color: #ffffff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid gray;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5)

}
.containerproje .slide-container .slide .contentproje .btnproj:hover{
    background-color: rgba(128, 128, 128, 0.825);
    border: 2px solid rgba(128, 128, 128, 0.825);
}
.containerproje .slide-container {
    display: none;
    width: 100%;
}
.containerproje .slide-container.active{
    display: block;   
}
.containerproje .slide-container:nth-child(1) .slide{
    background-image: url(img/princ1.jpeg);
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5)
}
.containerproje .slide-container:nth-child(2) .slide{
    background-image: url(img/obra.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5)
}
.containerproje .slide-container:nth-child(3) .slide{
    background-image: url(img/Embarcação.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5)
    
}

.containerproje #prev,
.containerproje #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff; ;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5)
}

.containerproje #prev img{
    position: absolute;
    transform: translate(-50%) rotate(180deg);
    height: 50px;
    width: 50px;
    cursor: pointer; 
    
}
.containerproje #next img{
    position: absolute;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    cursor: pointer;
}

.containerproje #prev:hover,
.containerproje #next:hover{
    background: rgb(235, 235, 235);
}

.containerproje #prev{
    left: 15px;
}
.containerproje #next{
    right: 15px;
}
.borda-header{
    left: 0;
    right: 0;
    bottom: -1px;
    transform: scaleX(-1);
}
.borda-header svg{
    width: calc(100% + 1.3px);
    margin-top: -219px;
    position: relative;
    fill: #eeeeee;
    box-shadow: 5px 5px 5px 0 hsla(0, 0%, 0%, 0.199); 
}
.cabserv{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.cabserv h3{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 45px;
    text-align: center;
}
.cabserv p{
    font-family: 'Poppins', sans-serif;
    color: grey;
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
}
.servicos{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 50px;   
}
.servicos .servmerg, .servplat, .servnav, .serveng{
    background-color: rgb(240, 240, 240); 
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 1px hsla(0, 0%, 0%, 0.5); 
    width: 180px;
    height: 180px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.servicos .servmerg img{
    width: auto;
    height: 150px;
}
.servicos .servplat img{
    width: auto;
    height: 150px;
}
.servicos .servnav img{
    width: 180px;
    height: 150px;
}
.servicos .serveng img{
    width: auto;
    height: 150px;
}
.servicos .servmerg h4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;    
}
.servicos .servplat h4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;    
}
.servicos .servnav h4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;    
}
.servicos .serveng h4{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center;    
}
.servbtn button{
    width: 150px;
    height: 50px;
    font-size: 17px;
    font-weight: 100;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: none;
    background-color: gray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px 1px hsl(0, 0%, 0%); 
}
.servbtn a{
    color: #ffffff;
}
.servbtn button:hover{
    background-color: rgba(128, 128, 128, 0.825);
    cursor: pointer; 
}
.cli{
    background-color:#f8f8f8;

}
.clientes{
    margin-top: 15px;
   
    
}
.clientes h3{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #eeeeee;
    color: gray;
    position: relative;
    top: 15px;
    font-size: 30px;
}
.clientes p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #eeeeee;
    color: gray;
    position: relative;
    font-size: 13px;
    top: 35px;
    font-weight: 300;
}
.cli-fotos{
    display: flex;
}
.cli-fotos img{
    width: 117px;
    height: 60px;
    margin-top: 50px;
}
#quemsomos{
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
    margin: 59px;
    border-radius: 25px;
}
.hist{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    margin-bottom: 45px;
}
.somos{
    display: flex;   
    align-items: center;
}
.somos img{
    width: 450px;
    text-align:justify;
    border-radius: 5px 35px;
    margin: 10px 50px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}
.somos p{
    font-family: 'Poppins', sans-serif;
    
}
.trabalheconosco{
   background-image: url(img/email.jpg);
   background-size: 100%;
   box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
   height: auto;
   text-align: center;
   color: #ffffff;
}
.trabalheconosco h1{
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    margin: 30px; 
 }
.trabalheconosco .tab input{
    border: 2px solid gray;
    width: 450px;
    height: 45px;
    border-radius: 15px;
    padding: 0px 15px;        
 }
 .trabalheconosco .tab label{
    font-size: 25px;     
    font-family: 'Poppins', sans-serif;
 }
 .trabalheconosco .tab button{
    font-size: 25px;     
    font-family: 'Poppins', sans-serif;
 }
 .cont{
    
    background-color:#f8f8f8;
    height: 380px;
}
.cont h3{
    text-align: center;
    position: relative;
    top: 75px;
    font-family: 'Poppins', sans-serif;
    color: gray;
    font-weight: 300;
}
.cont img{
    position: relative;
    left: 29%; 
    opacity: 5%;
    bottom: 100px;

}
.cont p{
    position: relative;
    bottom: 380px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.maps{
 width: 98.7vmax;
 box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3); 
}
.maps #mapa{ 
    height: 350px;   
   }
footer{
    background-color: gray;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;   
}
